.App {
  text-align: center;
  /*#e08e84 wrong color */
}

.let-table {
  border-spacing: 0.5em;
  display: flex;
  justify-content: center;
  margin: auto;
}

.let-box {
  border: 2px solid #d1d1d1;
  border-radius: 5px;
  height: 4em;
  width: 4em;
}

.key-table {
  border-spacing: 0.25em;
  margin-left: auto;
  margin-right: auto;
}

.key-box {
  border: 2px solid #d9d9d9;
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 1.5em;
  width: 1.5em;
  font-size: 1.2em;
  text-align: center;
}
.input-box {
  padding: 0;
  margin: 0;
  height: 1.5em;
  width: 1.5em;
  font-size: 1.75em;
  text-align: center;
  border: none;
}

.start-btn {
  border: 2ps solid black;
  border-radius: 5px;
  background-color: #c4efff;
  width: 5em;
  height: 2em;
  font-size: 0.9em;
  margin: 0;
}

.start-btn:hover {
  cursor: pointer;
  background-color: #def6ff;
}

.record-box {
  position: fixed;
  top: 5%;
  left: 10%
}

.win-text {
  color: green;
}

.loss-text {
  color: red;
}